.multiLangField {
    min-width: 16rem;
    @apply shadow-sm focus:ring-indigo-500 focus:border-indigo-500 text-sm flex
}

.multiLangFieldInput {
    width: calc(100% - 2.3rem);
    @apply focus:ring-indigo-500 focus:border-indigo-500 text-sm border border-gray-300 rounded-l align-middle h-full
}

.multiLangFieldSelect {
    width: 2.3rem;
    @apply focus:ring-indigo-500 focus:border-indigo-500 text-sm border border-l-0 border-gray-300 rounded-r align-middle text-gray-500
}

.undoBtn {
    @apply px-1 py-1 leading-normal text-sm text-blue-500 font-medium
}

.multiLangRichTextAreaWrapper {
    min-height: 8rem;
    @apply w-full h-full border border-gray-300 rounded mt-0.5
}

.multiLangRichTextAreaToolbar {
    justify-content: space-between !important;
    padding: 0 !important;
    border-width: 0 !important;
    border-bottom-width: 1px !important;
    @apply h-8 py-0 mx-1 px-1 border-0 border-b border-gray-300 rounded-none
}

.multiLangRichTextAreaToolbar .rdw-inline-wrapper {
    margin-bottom: 0 !important;
}

.multiLangRichTextAreaEditor {
    @apply px-2 pb-1
}

.multiLangRichTextAreaEditor .DraftEditor-root{
    z-index: 0;
}

.public-DraftStyleDefault-block {
    margin: 0 !important;
}