.singleFieldInput {
    min-width: 16rem;
    @apply max-w-lg block w-full shadow-sm focus:ring-indigo-500 focus:border-indigo-500 text-sm border-gray-300 rounded h-full
}

.react-datepicker-wrapper {
    min-width: 16rem;
    @apply max-w-lg w-full h-full
}

.react-datepicker-wrapper .react-datepicker__input-container input {
    @apply block w-full shadow-sm focus:ring-indigo-500 focus:border-indigo-500 text-sm border border-gray-300 rounded h-full
}

/*day outside month*/
.react-datepicker__day--outside-month {
    color: darkgray !important;
}

/*header*/
.react-datepicker .react-datepicker__current-month.react-datepicker__current-month--hasYearDropdown,
.react-datepicker__current-month.react-datepicker__current-month--hasMonthDropdown {
    display: none;
}

/*year month select container*/
.react-datepicker .react-datepicker__month-container .react-datepicker__header__dropdown.react-datepicker__header__dropdown--scroll  {
    @apply px-2 mt-0.5
}

/* prev btn*/
.react-datepicker .react-datepicker__navigation.react-datepicker__navigation--previous{
    @apply top-3.5 left-1
}

/*next btn*/
.react-datepicker .react-datepicker__navigation.react-datepicker__navigation--next{
    @apply top-3.5 right-1
}

/*month select*/
.react-datepicker .react-datepicker__month-container .react-datepicker__header__dropdown.react-datepicker__header__dropdown--scroll .react-datepicker__month-dropdown-container.react-datepicker__month-dropdown-container--scroll{
    @apply text-sm w-5/12 m-0
}

/*month select arrow*/
.react-datepicker .react-datepicker__month-container .react-datepicker__header__dropdown.react-datepicker__header__dropdown--scroll .react-datepicker__month-dropdown-container.react-datepicker__month-dropdown-container--scroll .react-datepicker__month-read-view .react-datepicker__month-read-view--down-arrow{
    @apply left-1 top-2
}

/*year select scroll*/
.react-datepicker .react-datepicker__month-container .react-datepicker__header__dropdown.react-datepicker__header__dropdown--scroll .react-datepicker__year-dropdown-container.react-datepicker__year-dropdown-container--scroll{
    @apply text-sm w-5/12 m-0
}

/*year select arrow*/
.react-datepicker .react-datepicker__month-container .react-datepicker__header__dropdown.react-datepicker__header__dropdown--scroll .react-datepicker__year-dropdown-container.react-datepicker__year-dropdown-container--scroll .react-datepicker__year-read-view .react-datepicker__year-read-view--down-arrow{
    @apply right-1 top-2
}