.btnLanguage {
  border-radius: 0.0rem 0.2rem 0.2rem 0.0rem !important;
  font-size: 0.875rem !important;
  width: 2.4rem !important;
  color: #989494 !important;
  border-color: #ced4da !important;
  z-index: 0 !important;
}

.btnUndo {
  padding: 0.25rem 0.5rem !important;
  line-height: 1.5 !important;
  border-radius: 0.2rem 0.2rem 0.2rem 0.2rem !important;
  font-size: 0.9rem !important;
  color: cornflowerblue !important;
}

.msgError {
  color: red;
}
